@import '../app/mixins.scss';
@import '../app/variables.scss';

.players {
  position: absolute;
  top: -120px;
  left: 0;
  right: 0;
  bottom: 0;

  .player {
    position: absolute;
    top: 20px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
    opacity: 0;

    &-name {
      color: #96e296;
      padding: 5px 20px;
      border-radius: 10px;
      border: 2px solid #96e296;
    }

    &-seat {
      width: 120px;
      height: 120px;
      background: $red;
      border-radius: 50%;
      margin-bottom: 30px;
      box-shadow: 1px 10px 0 rgba($black, .3);
      position: relative;

      &::before {
        content: '';
        display: block;
        background: darken($red, 10%);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        @include center-xy();
      }
    }

    &.show {
      opacity: 1;
    }

    &.player1 {
      left: 20%;

      .player-seat {
        background: dodgerblue;

        &::before {
          background: darken(dodgerblue, 10%);
        }
      }
    }

    &.player2 {
      left: 50%;
      transition-delay: .5s;

      .player-seat {
        background: lightcoral;

        &::before {
          background: darken(lightcoral, 10%);
        }
      }
    }

    &.player3 {
      left: 80%;
      transition-delay: 1s;

      .player-seat {
        background: goldenrod;

        &::before {
          background: darken(goldenrod, 10%);
        }
      }
    }

    .card {
      margin: 0 5px;
      max-height: 100%;
      height: 130px;

      &s {
        display: flex;
        margin-top: 10px;
      }
    }
  }
}
