.loadComponent-appear {
  opacity: 0;

  &.loadComponent-appear-active {
    opacity: 1;
    transition: all 0.6s linear;
  }
}

.loadComponent-enter {
  opacity: 0;

  &.loadComponent-enter-active {
    opacity: 1;
    transition: all 0.6s linear 0.4s;
  }
}

.loadComponent-leave {
  opacity: 1.0;
  position:absolute;

  &.loadComponent-leave-active {
    opacity: 0;
    transition: all 0.6s linear;
    position:absolute;
  }
}

.leaveComponent-appear {
  opacity: 0;

  &.leaveComponent-appear-active {
    opacity: 1;
    transition: all 0.6s linear;
  }
}

.leaveComponent-enter {
  opacity: 0;

  &.leaveComponent-enter-active {
    opacity: 1;
    transition: all 0.2s linear 0.4s;
  }
}

.leaveComponent-leave {
  opacity: 1.0;
  position:absolute;

  &.leaveComponent-leave-active {
    opacity: 0;
    transition: all 0.2s linear;
    position:absolute
  }
}