@import './variables.scss';

.main {
  height: 100vh;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  padding: 0 20px;
}

.btn {
  display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	padding: 10px 30px;
	border-radius: 5px;
	border: 1px solid rgba($black, .3);
  border-bottom-width: 3px;
  outline: none;
  cursor: pointer;
  transition: .3s ease;
  font-family: 'Ubuntu', sans-serif;

  &:hover {
    background-color: #e3e3e3;
    border-color: rgba($black, .5);
  }

  &:active {
    background-color: #CCC;
    border-color: rgba($black, .9);
  }

  &Card {
    background: $red;
    color: white;
    border-color: rgba($black, .3);
    box-shadow: 0 0 3px rgba($black, .3);

    &:hover {
      background-color: #DA4F49;
      border-color: rgba($black, .5);
    }

    &:active {
      background-color: #B32C24;
      border-color: rgba($black, .9);
    }
  }
}
