@import '../app/variables.scss';

.dictionary {
  border: 2px solid $grey;
  display: table;

  &__header {
    display: flex;
    border-bottom: 2px solid $grey;
  }

  &__letter {
    padding: 10px 15px;
    border-right: 2px solid $grey;

    &:last-child {
      border-right: 0;
    }
  }

  &__body {
    padding: 10px;
  }
}