.deck {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deck-header {
  font-size: 26px;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.deck-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.deck-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
}

.deck-btns .btn {
  margin: 0 20px;
}

.deck .card {
  height: 250px;
}