@import '../app/variables.scss';
@import '../app/mixins.scss';

.header {
  box-shadow: 0 15px 10px rgba($black, .1);
  padding: 5px 15px;
  background: $lightblack;
  font-size: 18px;
  position: relative;
  height: 65px;

  &__user {
    color: $white;
    margin-right: 20px;
    text-transform: capitalize;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    max-height: 55px;
    margin-right: 40px;
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-list {
    @include respond-to('small') {
      position: static;
      flex-direction: row;
      background: transparent;
      transform: none;
    }
    display: flex;
    position: absolute;
    z-index: 10;
    top: 65px;
    left: 0;
    right: 0;
    flex-direction: column;
    background: lighten($lightblack, 10%);
    transform: translateY(-200%);
    transition: .3s ease;

    &--active {
      transform: none;
    }

    &__item {
      @include respond-to('small') {
        margin-right: 20px;
        padding: 0;
      }
      text-transform: capitalize;
      padding: 20px;
      border-bottom: 2px solid $lightblack;
      flex: 0 0 auto;

      &:last-child {
        margin-right: 0;
        border-bottom: 0;
      }
    }

    &__link {
      transition: .3s ease;
      color: $white;
      text-decoration: none;
      &:hover {
        color: $red;
      }
    }
  }
}