@import '../../app/variables.scss';
@import '../../app/mixins.scss';

.rules {
  @include respond-to('small') {
    padding: 100px 0;
  }
  padding: 50px 0;

  &-wrapper {
    margin: 0 auto;
    padding: 0 20px;
    letter-spacing: .2px;
  }

  &-header {
    margin-bottom: 80px;

    &__list {
      @include respond-to('small') {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      display: flex;
      flex-direction: column;
      font-size: 20px;
      text-transform: capitalize;

      &-bullet {
        @include respond-to('small') {
          @include flex-row(3, 0, 0);
          border-right-width: 0;
        }
        transition: .3s ease;
        cursor: pointer;
        border: 2px solid $lightblack;
        background: $lightblack;
        color: $white;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &:last-child {
          @include respond-to('small') {
            border-right-width: 2px;
          }
        }

        &.active {
          color: $lightblack;
          background: transparent;
          cursor: default;
        }

        &:hover {
          color: $lightblack;
          background: transparent;
        }
      }
    }
  }

  &-section {
    font-size: 18px;
    line-height: 24px;
    display: none;

    &.active {
      display: block;
    }

    &__header {
      font-size: 36px;
      text-transform: capitalize;
      margin: 36px 0;
      font-weight: 600;
    }

    &__subheader {
      font-size: 28px;
      text-transform: capitalize;
      margin: 24px 0;
    }

    &__row {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__combination {
      @include respond-to('small') {
        @include flex-row(2, 20, 30);
      }
      margin: 0 20px 20px 0;

      &-header {
        font-size: 24px;
      }

      &-img {
        @include respond-to('small') {
          height: 200px;
        }
        height: 100px;
      }

      &s {
        @include respond-to('small') {

        }
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
      }
    }

    &__list {
      margin-bottom: 30px;

      &-bullet {
        padding-left: 20px;
        position: relative;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          content: '';
          width: 6px;
          height: 6px;
          background: $lightblack;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}