@import '../app/variables.scss';
@import '../app/mixins.scss';
@import '../app/animation.scss';

.table {
  @media (max-height: 800px) and (min-width: 768px) {
    margin-top: 80px;
  }
  @media (min-height: 801px) and (min-width: 768px) {
    margin-top: 0;
    height: 500px;
  }
  position: relative;
  background-color: $table;
  border: 15px solid $table-border;
  min-width: 900px;
  width: calc(100% - 40px);
  max-width: 1100px;
  height: 400px;
  border-radius: 150px;
  margin-top: 80px;

  &::before {
    content: '';
    border: 10px solid rgba($black, .1);
    border-radius: 130px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__wrapper {
    @media (max-height: 800px) and (min-width: 768px) {
      align-items: center;
    }
    @media (min-height: 801px) and (min-width: 768px) {
      justify-content: center;
      align-items: center;
      padding: 20px 20px 70px;
      min-height: 750px;
    }
    height: calc(100vh - 65px);
    position: relative;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
  }

  &__player {
    text-align: center;
    font-size: 26px;
    margin: 20px 0;
  }
}
